<launch> 
  <arg name="fcu_url" default="/dev/ttyACM0:921600" />
  <!-- 启动mavros -->
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)" />
  </include>
  <!-- 启动节点 -->
  <node name="demo_v" pkg="flyoff_pkg" type="demo_v_node" output="screen">
  </node>

</launch>